---
import Section from "./Section.astro";
---

<Section
  title="Model X"
  subtitle="From $68,590*"
  subsubtitle="After Federal Tax Credit & Est. Gas Savings"
  color="black"
>
<footer class="flex flex-col flex-grow justify-end pb-10" slot="footer"> 
  <div class="gap-x-6 flex mx-auto">
    <a
      class="bg-white text-base rounded font-medium text-black px-16 py-2 inline-block"
      href="#">Custom Order</a
    >
    <a
      class="bg-gray-800 backdrop-blur-sm text-base rounded font-medium text-white px-16 py-2 inline-block hover:bg-black hover:text-white transition-colors"
      href="#">Demo Drive</a
    >
</div>
    <div class="absolute inset-x-0 bottom-10">
        <p class="text-white text-[13px] ">*Price before incentives and savings $79,990, excluding taxes and fees. Subject to change</p>
        <a href="#" class="underline text-white">Learn about est. gas savings</a>
    </div>

</footer>

  <img slot="background"
  src="../../public/model-x.jpg"
  alt="Model X"
  class="object-center object-cover h-full w-full"
/>
</Section>